@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import animations */
@import './animations.css';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 245, 245, 245;
  --background-end-rgb: 255, 255, 255;
  scroll-behavior: smooth;
}

.dark {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 30, 30, 30;
  --background-end-rgb: 15, 15, 15;
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  scroll-behavior: smooth;
}

.section-transition {
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.section-transition:hover {
  transform: translateY(-5px);
}
